Flask==1.0.2
gunicorn==19.8.1
google-cloud==0.32.0
earthengine-api==0.1.138
pyCrypto==2.6.1
pymemcache==1.4.4
selenium==4.15.1
unittest2==1.1.0
PyVirtualDisplay==0.2.1
pyasn1==0.4.2
pyyaml==5.4
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability